<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="js/vue.js"></script>
  <script src="js/axios.min.js"></script>
  <style>
    [v-cloak]{display:none}
  </style>
</head>
<body>
  <div id="app">
    用户名:<input v-model="uname"><br />
    密码:<input type="password" v-model="upwd"><br />
    <button @click="login">登录</button>
  </div>
<script>
  new Vue({
    el:"#app",
    data:{
      uname:"",
      upwd:""
    },
    methods:{
      login(){
        axios.post(
          "http://xzserver.applinzi.com/users/signin",
          `uname=${this.uname}$upwd=${this.upwd}`
        ).then(result=>{
          if(result.data.ok == 1){
            alert(`登录成功，欢迎${result.data.uname}`)
          }else{
            alert(`登录失败，${result.data.msg}`)
          }
        })
      }
    }
  })
</script>
</body>
</html>